@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|DM+Serif+Text|Frank+Ruhl+Libre|Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  outline-color: var(--light);
}

:root {
  --blue: #1a4661;
  --green: #0c3a39;
  --white: #edf5e1;
  --dark: #272d2e;
  --light: #94b2b3;
  --peach: #f7d79c;
}

html {
  scroll-padding-top: 70px; /* height of sticky header */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--green);
  outline-color: var(--light);
}
::selection {
  color: var(--peach);
  opacity: 1;
  background-color: var(--light);
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', serif;
}

p {
  color: var(--light);
  line-height: 24px;
}

.resume {
  margin: 6em 14em;
  color: var(--peach);
  padding: 6em 3em;
}
.resume-mobile {
  margin: 1em 0em;
  color: var(--peach);
  padding: 0em 3em;
}
.resume h1 {
  line-height: 60px;
  margin-top: 1em;
}
.resume h2 {
  color: var(--white);
  font-family: 'Poppins', sans-serif;
}
.resume p {
  padding-bottom: 20px;
}

.resume b {
  color: var(--white);
  text-decoration: underline;
}
.resume h3 {
  color: var(--light);
  font-family: 'Poppins', sans-serif;
}

.tag {
  background: var(--peach);
  color: var(--green);
  padding: 0 8px;
  border-radius: 6px;
  margin-right: 8px;
  display: inline-flex;
  margin-bottom: 24px;
}
.tag-client {
  background: var(--light);
  color: var(--blue);
  padding: 2px 12px;
  border-radius: 8px;
  margin-right: 20px;
  display: inline-flex;
  margin-bottom: 24px;
  font-size: 1.2em;
}

.reading-progress-bar {
  height: 24px;
  position: sticky;
  top: 0;
  background-color: var(--light);
  left: -50%;
  z-index: 4;
  border-radius: 4px;
}
.progress-right {
  color: var(--green);
  float: right;
  transition: 1s;
  white-space: nowrap;
  font-size: 18px;
  padding-right: 10px;
}
.progress-left {
  color: var(--dark);
  float: left;
  transition: 1s;
  white-space: nowrap;
  font-size: 14px;
}

header {
  text-align: center;
  position: fixed;
  top: 0;
  font-size: 2em;
  background-color: var(--green);
  padding: 0;
  margin-bottom: 3em;
  color: var(--peach);
  z-index: 2;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
}

.content {
  margin: 2em 8em;
}
.content-icon {
  margin: 4em 8em;
  bottom: 0;
  position: fixed;
}

.content::selection {
  background: var(--white);
}

.center {
  margin: 0 auto;
  width: auto;
  text-align: center;
  display: flex;
  flex: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link:hover {
  color: var(--peach);
  transition: 0.3s;
}
.link {
  transition: 0.3s;
}

.statement {
  /* background: rgb(137, 181, 172) !important; */
  padding: 2em 0em;
  margin: 0 auto;
  width: 100%;
  /* text-align: center; */
  font-size: 3em;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 900;
  color: white;
}

.nav {
  display: grid !important;
  outline: var(--light);
}

.nav a:visited {
  color: var(--light);
}
.nav a {
  color: var(--light);
  font-size: 1.2em !important;
  text-decoration: none;
  padding: 10px;
}
.nav a:hover::before {
  color: var(--peach);
  content: '> ' !important;
}

.selected-link {
  color: var(--peach) !important;
}
.selected-link::before {
  content: '> ';
}

.project:hover {
  box-sizing: border-box;
  border: 8px solid var(--light);
  color: var(--peach);
  background: var(--green);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
}

.project {
  background: var(--peach);
  border: 8px solid var(--white);
  color: var(--blue);
  /* border: none; */
  outline: none;
  font-size: 2.5em;
  font-family: 'DM Serif Display', serif;
  width: 200px;
  height: 200px;
  margin: 2em 1em;
  display: block;
  text-align: center;
  transition: 0.2s;
}

.icon-group {
  margin-top: 4em;
  bottom: 0;
  position: relative;
}

.statement {
  padding-top: 4em;
  width: 100%;
  font-size: 1.5em;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 900;
  margin: auto;
  color: var(--light);
}
.statement h1 {
  padding-bottom: 0.2em;
}

.icon {
  color: var(--light);
  cursor: pointer;
}
.icon:hover {
  color: var(--peach);
}

#page-wrap {
  position: sticky;
}

.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 36px;
  top: 26px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 40px !important;
  width: 40px !important;
  margin-right: 10px !important;
  margin-top: 10px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--light);
  height: 30px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  left: -10px;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: var(--green);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  border-right: 5px solid var(--blue);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  /* fill: #373a47; */
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: inline-block;
}

/* Individual item */
.bm-item {
  display: block;
}

/* Styling of overlay */
.bm-overlay {
  background: transparent !important;
  top: 0;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 1.1em;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--white);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1000px) {
  .resume {
    margin: 4em 2em;
    color: var(--peach);
    padding: 0em 4em;
  }
  header {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    font-size: 30px !important;
  }
  .resume-mobile h1 {
    font-size: 1.8em;
    margin: 20px 0px;
  }
  .resume-mobile h2 {
    font-size: 1.2em;
    margin: 20px 0px;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
  }
  .resume-mobile p {
    margin: 20px 0px;
    font-size: 1em;
  }

  .resume {
    margin: 0em 2em;
    color: var(--peach);
    padding: 0em 0em;
  }
  .statement {
    /* margin: 100px auto; */
    width: auto;
    font-size: small;
    margin: 80px 20px;
  }
  .statement h1 {
    margin-bottom: 20px;
  }
  header {
    font-size: 1em;
    padding-top: 1.5em;
    width: 100%;
  }
  .icon-group {
    width: fit-content;
    justify-content: space-between;
  }
  .reading-progress-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .content {
    padding: 2em 1em;
    /* background: #37968388 !important; */
  }
  .project {
    background: var(--peach);
    border: 8px solid var(--white);
    color: var(--blue);
    /* border: none; */
    outline: none;
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    width: 80%;
    height: 180px;
    margin: 18px auto;
    display: block;
    text-align: center;
    transition: 0.2s;
  }
}
